<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vets</title>
  </head>
  <body>

    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about_us"></a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
