body {
  background-color: coral;
}

p {
  font-family: inherit;
}

nav ul li  {
    list-style-type: none;
    /* float: left; */
    /* width: 200px; */
    /* text-align: center; */
    display: inline;
    padding: 10px;
 }

 h2 {
    /* float: right; */
    margin: 20px;
 }
