<h1>New Veterinarians Page</h1>
<form action="/vets/new" method="POST">
  <fieldset>
    <legend>Vet Name:</legend>
    <label for="vet_name"></label>
  <input type="text" id="vet_name" name="vet_name">

    <legend>Practice No:</legend>
    <label for="practice_no"></label>

    <input type="number" id="practice_no" name="practice_no" value="practice_no">
    <input type="submit" value="Submit"/>
  </form>















<!-- <form action="/vets/new" method="post">
 <ul>
  <li>
    <label for="name">Animal Name:</label>
    <input type="text" id="name" name="name">
  </li>
  <li>
    <label for="mail">E-mail:</label>
    <input type="email" id="mail" name="user_mail">
  </li>
  <li>
    <label for="msg">Message:</label>
    <textarea id="msg" name="user_message"></textarea>
  </li>
 </ul>
</form> -->
